<!DOCTYPE html>
<html lang="en">
   <head>
      <title> DCPA </title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
         crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
         integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
         crossorigin="anonymous">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src = "https://code.jquery.com/jquery.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
         integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
         crossorigin="anonymous"></script>
   </head>
   <style>
      .file {
          visibility: hidden;
          position: absolute;
      }
   </style>
   <body  style="background-image: url('static/img/knowledgebookdimblur.jpg');" id="backgroundDiv">
     <nav class="navbar navbar-default">
       <div class="navbar-header">
         <a href="#" class="navbar-brand">Document Prerequisite Classifier</a>
       </div>
       <div class="navbar-collapse collapse" id="navbar">
         <ul class="nav navbar-nav" style="float: right;">
           <li><a href="{{ url_for('show_logout') }}">Logout</a></li>
         </ul>
         <ul class="nav navbar-nav" style="float: right;">
           <li><a href="{{ url_for('show_library') }}">Show Library</a></li>
         </ul>
       </div>
     </nav>

      <div class="container" style="padding-top: 8%;">
        <h1 style="color: white;">Hello, start by uploading a research paper that you want to look into for prerequisites.</h1>
         <form class="bs-example bs-example-form" method='post' enctype=multipart/form-data role="form" id="uploadForm">
            <div class="form-group">
               <div class="input-group col-xs-12">
                  <span class="input-group-btn">
                    <input type="file" name="file" class="file" style="display: inline;">
                    <input type="text" class="form-control input-lg" disabled placeholder="Upload Your Paper" style="width: 86%;">
                    <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i>Browse</button>
                    <input type="submit" value='Upload' id="btnUpload" class="btn btn-primary" style="height: 3.2em;"/>
                  </span>
               </div>
            </div>
        </form>
        <h3 id="noTitle" style="color: white;">It seems that we can't find the title for the paper. Could you please copy paste it into the box below and press submit.</h3>
        <form method="POST" id="titleForm" style="width: 92%; display: inline;">
          <span>
            <input type="text" class="form-control" name="titleText" placeholder="Paste title here." style="width: 93%; display: inline;">
            <input type="submit" class="btn btn-primary">
          </span>
        </form>
        <p id="noConcepts" style="color:white;">Sorry but the paper uploaded has no concepts.</p>
        <p id="invalidFile" style="color:white;">Invalid file uploaded. Please upload a different file.</p>
        <p id="invalidTitle" style="color:white;">Invalid title, please enter the title again.</p>
      </div>
   </body>
   <script>
      $(document).ready(function() {
          $("#noTitle").hide();
          $("#titleForm").hide();
          $("#invalidFile").hide();
          $("#invalidTitle").hide();
          $("#noConcepts").hide();
          $(document).on('click', '.browse', function() {
              var file = $(this).parent().parent().parent().find('.file');
              file.trigger('click');
          });

          $(document).on('change', '.file', function() {
              $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
          });

          $("#uploadForm").submit(function(event) {
              event.preventDefault();
              var formData = new FormData($("#uploadForm")[0]);
              $.ajax({
                  type: "POST",
                  url: "{{ url_for('title_check') }}",
                  data: formData,
                  contentType: false,
                  cache: false,
                  processData: false,
                  async: true,
                  success: function(result) {
                      console.log('Successfully checked file for existence of title.');
                      // debugger;
                      window.location.href = "{{ url_for('show_home') }}";
                  },
                  error: function(result) {
                      debugger;
                      console.log("Data is" + JSON.parse(result.responseText))
                      if (JSON.parse(result.responseText)['error'] === 'No concepts') {
                          console.log("No concepts found!");
                          // set some div
                          $("#noConcepts").show().fadeOut(4000);
                      }
                      else if (JSON.parse(result.responseText)['error'] === 'Invalid file') {
                          $("#invalidFile").show().fadeOut(4000);
                      }
                      else {
                          $("#noTitle").show();
                          $("#titleForm").show();
                      }
                  }
              });
            });

          $("#titleForm").submit(function(event) {
              event.preventDefault();
              $.ajax({
                url: "{{ url_for('show_upload') }}",
                data: JSON.stringify($("#titleForm").serialize()),
                type: "POST",
                contentType: 'application/json;charset=UTF-8',
                success: function(result) {
                    console.log("Successfully sent the server a request!");
                    console.log(result);
                    window.location.href = "{{ url_for('show_home') }}";
                },
                error: function(result) {
                    $("#invalidTitle").show().fadeOut(4000);
                    console.log(result.responseText);
                }
              });
         });
      });
   </script>
</hmtl>
